[submodule "website/themes/ananke"]
	path = website/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "website/themes/kube"]
	path = website/themes/kube
	url = https://github.com/jeblister/kube.git
[submodule "website/themes/PaperMod"]
	path = website/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
